body{
     margin:0px;
     background:#3289A4 ;
 }
 
 #container{
 	display: flex;
     align-items: center;
 	justify-content: center;
     margin-top: 6%;     
 }
 #heading-stopwatch{
     color: cyan;
 }


 #inside-container{
 	 height: 20rem;
       width: 40rem;
       /*min-width: 300px;
       min-height: 180px;*/
/*       border: 1px solid black;*/
       box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       background: white;
       border-radius: 5px;
 }

 #heading-stopwatch{
     margin-left: 6rem;
     font-size: 2rem;
 }

 #time-display{
     margin-top: 10%;
     margin-left: 15%;
 }

 .digit{
     font-size: 3rem;
     background:#0C3441 ;
     color: white;
     padding: 0.5rem;
     border-radius: 5px;
     box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;

 }
.text{
     font-size: 1.6rem;
     margin-right: 0.6rem;
}
 #button-container{

     margin-top: 13%;
     margin-left:15% ;

 }

 .btn{
      font-size: 1.5rem;
     margin-right: 2.5rem;
     padding: 0.5rem 1.5rem 0.5rem 1.5rem;
     border:none;
     border-radius: 0.5rem;
     cursor: pointer;
 }

.btn:hover{
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
 }

 #start{
     background: #15564E;
     color: white;
 }

 #start:hover{
     background: #1E3E3A;
 }

 #stop{
     background: #C4351C;
     color:white;
 }

 #stop:hover{
     background: #852919;
 }

 #reset{
     background:#ADAD2E;
     color: white;
 }

 #reset:hover{
     background:#777728 ;
 }
